//
   Created by lio on 16/8/7.

doctype html
html
  head
    title Jade
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='./css/main.css')
    link(rel="shortcut icon" href="../favicon.ico")
  body
    block content
